{% extends "nav.html" %} {% block content %}

<body class="text-uppercase">
    <div class="container">
        <div class="row">
            <div class="col-md-6" col-sm-12> <a class="btn btn-default center-block text-uppercase" href="/" role="button">blogs</a> </div>
            <div class="col-md-6 col-sm-12"> <a class="btn btn-default center-block text-uppercase" href="/newpost" role="button">post a blog</a> </div>
        </div>
        <div class="container-fluid top-page img-responsive">
            <h1 id="main-title" class="text-center text-uppercase">welcome to blog central, {{username}}!!!</h1> <img class="" src="https://tstoaddicts.files.wordpress.com/2015/06/naked-homer.png" alt="Homer"> </div>
    </div>
</body> {% endblock %}